/* font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* _____Header_____ */
.header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
}

.logo-container img {
  height: 55px;
  width: 200px;
}

/* _____Nav Links_____ */

nav {
  width: 50%;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none; /* Remove default list style */
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #495e57;
  font-size: 17px;
  font-weight: 500;
  transition: 0.4s;
}

nav ul li a:hover {
  color: #f4ce14;
  font-size: 19px;
  font-weight: 800;
  border-bottom: 1px solid #f4ce14;
}

/* Mobile Styles */

/* Hamburger menu icon */
.menu-icon {
  display: none; /* Hide by default on larger screens */
  cursor: pointer;
}

/* Mobile navigation menu */
.mobile-nav {
  display: none; /* Hide by default on larger screens */
}

/* Toggle menu for smaller screens */
.toggle-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Show on smaller screens */
  }

  nav {
    width: 100%; /* Full width on smaller screens */
  }

  nav ul {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
    background-color: #ffffff; /* Background color for mobile menu */
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Hide by default on smaller screens */
  }

  nav ul.show {
    display: flex; /* Show when the mobile menu is toggled */
  }

  nav ul li {
    width: 100%;
    margin-bottom: 10px;
  }

  .toggle-menu {
    display: flex; /* Show the toggle button on smaller screens */
  }
}

/* Hero section */

.hero {
  background-color: #495e57;
  padding: 40px 0;
  color: #fff;
  padding: 90px 13%;
  position: relative;
  height: 490px;
}

h2 {
  color: #f4ce14;
  font-size: 60px;
  font-weight: 400;
  font-family: MarkaziText;
  margin-bottom: -30px;
}

h3 {
  font-size: 35px;
  color: #edefee;
  font-family: MarkaziText;
}
.banner {
  width: 380px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.banner p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 50px;
}

button {
  background-color: #f4ce14;
  color: #283632;
  width: 250px;
  padding: 14px 18px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #ffdf3e;
  color: #2c433c;
  width: 260px;
}

.banner-img {
  position: absolute;
  right: 13%;
  top: 15%;
  width: 400px;
}

.banner-img img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner h2 {
    font-size: 50px;
    /* color: #283632; */
  }
  .banner {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .banner-img {
    display: none;
  }
}

/* Specials */

.special-sec {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 3rem;
  margin: 50px auto;
  width: 74%;
  height: 635px;
}
.menu-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.card-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .special-sec {
    height: auto;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* background-color: rebeccapurple; */
  }
  .menu-header button {
    display: none;
  }
}
/* TESTIMONIALS START */

.testimonials {
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 550px;
  background-color: #fbebe0;
  text-align: center;
  padding-top: 1em;
}

.testimonial-header {
  font-family: "Markazi Text", serif;
  font-size: 24px;
  font-weight: 400;
  margin: 60px auto;
  width: 32%;
  height: 70px;
  color: #535050;
}

.testimonials > h3 {
  color: #131212;
}
.card-cont {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}
@media (max-width: 768px) {
  .testimonials {
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .testimonial-header {
    font-size: 20px;
    text-align: start;
  }
  .card-cont {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
}
/* ABOUT START */

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  display: flex;
  width: 80%;
  height: auto;
  padding: 3em 0;
}

@media (max-width: 800px) {
  .about {
    flex-wrap: wrap;
  }
}

.about-content {
  width: 40%;
  margin-left: 7em;
  margin-right: 5em;
}

@media (max-width: 800px) {
  .about-content {
    width: 100%;
  }
}

.about-content p {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  color: #000;
  margin-top: 2em;
  text-align: justify;
}
.about-content h4 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  color: #000;
}
.about-content h5 {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 100;
  color: #333;
}

@media (max-width: 1050px) {
  .about-content p {
    font-size: 16px;
  }
}

.owners {
  width: 50%;
}

@media (max-width: 800px) {
  .owners {
    width: 100%;
    margin: 3em;
  }
}

#chefs {
  width: 60%;
  height: 70%;
  margin-top: 1em;
  margin-left: 10em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

#restaurant {
  width: 50%;
  height: 60%;
  margin-top: -10em;
  margin-left: 2em;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

/* FOOTER START */

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border-top: 7px groove #495e57;
}

@media (max-width: 800px) {
  .footer {
    flex-wrap: wrap;
    text-align: center;
  }
}

.footer img {
  width: 100%;
}

@media (max-width: 800px) {
  .footer img {
    width: 50%;
    margin: 0;
  }
}

.one {
  width: 20%;
  margin-right: 2em;
  display: flex;
}

.two {
  width: 20%;
  flex-wrap: wrap;
  margin: 1em;
  margin-top: 4em;
}
.three {
  width: 20%;
  margin: 1em;
  margin-top: 4em;
}
.four {
  width: 20%;
  margin: 1em;
  margin-top: 4em;
}
.two ul,
.three ul,
.four ul {
  list-style: none;
}
.two ul a,
.three ul a,
.four ul a {
  color: #495e57;
  text-decoration: none;
  margin-top: 30px;
}
.two ul a:hover,
.three ul a:hover,
.four ul a:hover {
  text-decoration: underline;
}
.one h5,
.two h5,
.three h5,
.four h5 {
  margin-bottom: 20px;
  color: #495e57;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 800px) {
  .one,
  .two,
  .three,
  .four {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
  .one {
    margin: 10px;
  }
}
.main-cont {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-cont::before {
  content: "";
  background-image: url("./assets/images/Tables.avif");
  background-position: center;
  background-size: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(2px);
}

.form-container {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.form-container label {
  color: #ebebeb;
  font-size: 20px;
  font-weight: 800;
  padding: 0 20px;
}
.title {
  font-family: "Markazi Text", serif;
  color: #ffff;
  font-size: 80px;
  text-align: center;
}
.sections {
  color: #495e57;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}

input[type="number"] {
  width: 4em;
  height: 2.5em;
  padding: 0.5em;
  border: 0.2em solid #fff;
  background-color: transparent;
  border-radius: 1em;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 900;
  appearance: textfield;
  margin: 0;
  &::-webkit-inner-spin-button {
    opacity: 1;
    background: red;
  }
}

select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  /* Personalize */
  width: 20rem;
  font-size: 1rem;
  padding: 0.5rem 4rem 1rem 0.5rem;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(
      to left,
      rgba(255, 255, 255, 0.3) 3em,
      rgba(255, 255, 255, 0.2) 3em
    );
  color: #fff;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
}
option {
  /* color: red; */
  background-color: #495e57;
}

input {
  position: relative;
  width: 300px;
  height: 50px;
  padding: 20px;
  border: 0;
  background: linear-gradient(45deg, rgb(192, 212, 202), rgb(238, 217, 100));
  border-radius: 8px;
  outline: none;
  margin-bottom: 18px;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: Uppercase;
  box-shadow: 0 4px 20px rgba(3, 44, 41, 0.22%);
}
input {
  width: 100%; /* Adjust for mobile layout */
  margin-bottom: 18px;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .main-cont::before {
    background-size: contain;
    flex-direction: column; /* Adjust for smaller screens */
  }

  .form-container {
    width: 100%;
    flex-direction: column; /* Adjust for smaller screens */
  }

  .title {
    font-size: 50px; /* Adjust for smaller screens */
  }
}
